<div class="footer_s1 bg_color_skyblue" id="footer">
    <div class="width_58 margin_0_auto">
        <h1 class="s12_padding_bottom font_40 font_gt_walsheim_bold d_flex_center content_center text_alignment_center color_white font_75_mo wow fade_top_animation"
            data-wow-delay="0.2s" data-wow-duration="0.5s">
            Contact Us
        </h1>
        <p class="footer_s1_para d_flex_center content_center text_alignment_center font_18 font_gt_walsheim_light color_white line_height_1_3 font_48_mo wow fade_top_animation"
            data-wow-delay="0.2s" data-wow-duration="0.5s">
            Have questions or need assistance? Fill out the form, and we'll be with you <br>
            every step of your legal tech journey.
        </p>

        <div class="footer_s1_position">
            <div class="footer_s1_container bg_color_white sm_flex_column">
                <div class="footer_s1_left">
                    <div class="footer_s1_left_img img">
                        <img src="assets/images/homeimg/woman.png" alt="pharmatec">
                    </div>
                    <div class="footer_s1_address">
                        <h3 class="font_21 font_poppins_medium color_black font_48_mo">Address</h3>
                        <p class="font_16 font_planc_regular color_black_1 line_height_1_4 font_48_mo">A-715, Titanium
                            Heights,
                            Near Vodafone House, Corporate Road,
                            Prahlad Nagar, Ahmedabad - 380015</p>
                        <div class="footer_s1_map_btn  cursor  bg_color_skyblue">
                            <p class="font_16 font_gt_walsheim_light color_white font_48_mo "> View on Map</p>
                        </div>
                    </div>
                </div>

                <div class="footer_s1_right">
                    <form>
                        <div class="footer_s1_form_group font_16 font_gt_walsheim_light">
                            <input class="font_16 font_40_mo font_gt_walsheim_light" type="text" placeholder="Name">
                            <input class="font_16  font_40_mo " type="email" placeholder="Email">
                        </div>
                        <div class="footer_s1_form_group font_16 font_gt_walsheim_light">
                            <input class="font_16 font_gt_walsheim_light font_40_mo" type="text"
                                placeholder="Contact No">
                            <select class="font_16 font_gt_walsheim_light font_40_mo">
                                <option>Retailer</option>
                                <option>Wholesaler</option>
                                <option>Distributor</option>
                            </select>
                        </div>
                        <div class="footer_s1_form_group font_16 font_gt_walsheim_light font_40_mo">
                            <input class="font_16 font_gt_walsheim_light font_40_mo" type="text"
                                placeholder="Business Legal Name">
                            <input class="font_16 font_gt_walsheim_light font_40_mo" type="text"
                                placeholder="Designation">
                        </div>
                        <textarea class="footer_s1_input3  font_16 font_16 font_gt_walsheim_light font_40_mo"
                            placeholder="Message"></textarea>
                        <div class="footer_s1_button bg_color_skyblue  cursor">
                            <p class=" color_white font_16 font_gt_walsheim_light font_40_mo">
                                Submit</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer bg_color_skyblue_1">
    <div class="footer_width  margin_0_auto">
        <div class="row_1 footer_align  bg_color_white">
            <div class="footer_box">
                <div class="footer_box_img">
                    <img alt="pharmatec" src="assets/images/homeimg/email.svg">
                </div>
                <a href="mailto: hello@pharmatec.in"
                    class="font_18 font_planc_regular color_black font_48_mo">hello@thepharmatec.in</a>
            </div>
            <div class="footer_box1">
                <div class="footer_box_img">

                </div>
            </div>
            <div class="footer_box2">
                <div class="footer_box_img">
                    <img alt="pharmatec" src="assets/images/homeimg/phome.svg">
                </div>
                <a href="tel: (+91) 9376 9764 64" class="font_18 color_black font_planc_regular font_48_mo">(+91) 9376
                    9764 64</a>
            </div>
        </div>
        <div class="footer_bottom">
            <p
                class="font_18 color_black d-flex text_alignment_center justify-content-center font_planc_regular font_48_mo">
                ©
                Pharma Tec 2024 | All Rights Reserved.</p>
        </div>
    </div>
</div>